<h1>Listing core memberships</h1>

<%= render partial: 'core_memberships', locals: { core_memberships: @core_memberships } %>

<%= link_to 'New Core membership', new_core_core_membership_path(@core) %>
