<p>
  <strong>Core:</strong>
  <%= @core_membership.core %>
</p>

<p>
  <strong>Repository User:</strong>
  <%= @core_membership.repository_user %>
</p>
<%= link_to 'Back', core_core_memberships_path(@core) %>
