<p>
  <strong>Project:</strong>
  <%= link_to @project_affiliated_record.project, project_path(@project_affiliated_record.project.id) %>
</p>

<p>
  <strong>Record:</strong>
  <%= link_to @project_affiliated_record.affiliated_record, record_path(@project_affiliated_record.affiliated_record.id) %>
</p>

<%= link_to 'Back', @project %>
