<h1>Listing project_memberships</h1>

<%= render partial: 'project_memberships', locals: { project_memberships: @project_memberships } %>

<%= link_to 'New Project membership', new_project_project_membership_path(@project) %>
