<p>
  <strong>Name:</strong>
  <%= @user_role_description.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_role_description.description %>
</p>

<%= edit_link @user_role_description %>
<%= link_to 'Back', user_role_descriptions_path %>
