<h1>Listing repository users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Is Administrator?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repository_users.each do |repository_user| %>
      <tr>
        <td><%= repository_user.name %></td>
        <td><%= repository_user.email %></td>
        <td><%= repository_user.is_administrator? %></td>
        <%= render partial: 'user_administration_panel', locals: {user: repository_user} %>
      </tr>
<% end %>
  </tbody>
</table>
