<h1>Listing core users</h1>

<% if @core_users.empty? %>
<p>There are no core users to display.</p>
<% else %>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @core_users.each do |core_user| %>
      <tr>
        <td><%= core_user.name %></td>
        <td><%= link_to 'Destroy', core_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
