<h1>Listing core users</h1>

<% if @core_users.empty? %>
<p>There are no core users to display.</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @core_users.each do |core_user| %>
      <tr>
        <td><%= core_user.name %></td>
<%   if can? :update, core_user %>
<%     if core_user.is_enabled? %>
        <td><%= link_to 'Disable', core_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%     else %>
        <td><%= link_to 'Enable', core_user_path(core_user, core_user: {is_enabled: true}), method: :patch, data: { confirm: 'Are you sure?' } %></td>
<%     end %>
<%   end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
