<h1>Listing core_users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @core_users.each do |core_user| %>
      <tr>
        <td><%= link_to 'Show', core_user %></td>
        <td><%= link_to 'Edit', edit_core_user_path(core_user) %></td>
        <td><%= link_to 'Destroy', core_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Core user', new_core_user_path %>
